/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 50;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f8f8f8;
  color:#777;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 0px;
}
.container .text-muted {
  margin: 0px 0;
}
